

.ideaItem {
    text-align: center;
    width: 250px;
    min-height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid black;
}

.ideaAction {
    border-bottom: 1px solid black;
}



.getIdeaBtnText {
    text-transform: none;
}

.getIdeaBtnTextSelected {
    text-transform: none;
    font-weight: 600;
    color: rgb(151, 18, 18);
}